*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html, body {
  height: 100%;
  overflow-y: auto;
}
body {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: #111;
  min-height: 100vh;
  /* padding: 2rem 0; */
  -webkit-font-smoothing: antialiased;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #222;
}


h1, h2, h3, h4, h5 {
  color: #222;
  margin: 1rem 1.2rem 0.5rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.app-content {
  padding: 1.5rem;
  margin-top: 3rem; /* account for profile icon */
}
